# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled output
/bin/
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
.factorypath

# VS Code
.vscode/
!.vscode/extensions.json

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS
.DS_Store
Thumbs.db
